python-dateutil==2.5.3
fake-factory==0.5.7
Flask-RESTful==0.3.5
IPy==0.83
iso8601==0.1.11
jsonschema==2.5.1
pymonetdb==0.1.1
pytz==2016.4
rfc3987==1.3.6
Sphinx==1.4.1
sphinx-rtd-theme==0.1.9
strict-rfc3339==0.7
tzlocal==1.2.2
