git+https://github.com/dpallot/simple-websocket-server.git
IPy>=0.83
jsonschema>=2.5.1
python-dateutil>=2.5.3
python-monetdb>=11.19.3.2
pytz>=2016.4
requests>=2.10.0
Sphinx>=1.4.4
sphinx-rtd-theme>=0.1.9
tornado>=3.2.2
tzlocal>=1.2.2
watchdog>=0.8.3
